.DS_Store
analyse/*
__pycache__*/
.idea/
.run/
*.pyc
.pytest_cache
project/content/v0.01/
project/content/storage/
project/content/market-historic/
project/content/sessions/
project/content/analyse/
project/content/print/
project/tests/datas/tools/TestDeepLearning/
project/tests/datas/tools/TestPredictor/
project/venv/
project/env/
project/dev_env/