.DS_Store
analyse/*
__pycache__*/
.idea/
.run/
*.pyc
project/content/v0.01/
project/content/storage/
project/content/market-historic/
project/content/sessions/
project/content/analyse/
project/content/print/
# project/content/storage/STAGE_2/Bot_binary
# project/content/storage/STAGE_1
# project/content/storage/STAGE_3
project/venv/
project/env/
.pytest_cache