.DS_Store
analyse/*
__pycache__*/
.idea/
.run/
*.pyc
.pytest_cache
project/content/v0.01/

project/content/storage/Predictor/learns/stock/
project/content/storage/Predictor/market-histories/
project/content/storage/Predictor/analyse/
project/content/storage/Predictor/learns/print/
project/content/storage/MarketPrice/histories/
project/content/storage/Strategy/Icarus/prediction/
project/content/storage/Strategy/Icarus/backtest/number/
project/content/storage/Strategy/Icarus/backtest/stock/
project/content/storage/Strategy/Icarus/backtest/repports/
project/content/storage/Strategy/Icarus/backtest/tests/

project/content/market-historic/
project/content/sessions/
project/content/analyse/
project/content/print/

project/tests/datas/tools/TestDeepLearning/
project/tests/datas/tools/TestPredictor/

project/venv/
project/env/
project/dev_env/
project/trash/
project/draft.py
